

.row {
    display: flex;
}

.boardItem {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #ddd;
    cursor: pointer;
}
.boardItem.enabled {
    background-color: black;
}
.boardItem.disabled {
    background-color: darkorange;
}