.wrap  {

    display: flex;
    padding-left: 200px;

    .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .item {
            text-align: center;
        }

        .item.options {
            opacity: 0.3;
        }
    }
}